<div class="row" ng-controller="RunnerCtrl">
    <div class="col-xs-4">
        <div
                ba-panel
                ba-panel-title="Configuration"
                ba-panel-class="with-scroll">
            <form class="form-horizontal">
                <div class="form-group" hidden>
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="btn-group pull-right" role="group">
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="timeout-short" class="col-sm-4 control-label">Short timeout</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="timeout-short" placeholder="45" ng-value="config.timeout.short" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="timeout-long" class="col-sm-4 control-label">Long timeout</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="timeout-long" placeholder="45" ng-value="config.timeout.long" readonly>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xs-8">
        <div ba-panel>
            <section id="cd-timeline" class="cd-container cssanimations" ng-model="logs">
                <div class="cd-timeline-block" ng-repeat="log in logs">
                    <div class="cd-timeline-img">
                        <div class="kameleon-icon with-round-bg" ng-class="image(log)"><img
                                ng-src="{{::( source(log) | kameleonImg )}}"></div>
                    </div>

                    <div class="cd-timeline-content" ng-class="class(log)">
                        <h5>{{ :: title(log) | uppercase }}</h5>
                        <p>{{ :: log.message }}</p>
                        <span class="cd-date">{{ :: log.timestamp | date : 'yyyy-MM-dd HH:mm:ss Z'}}</span>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
