<div class="row">
    <div class="col-xs-8">
        <div ba-panel>
            <section id="cd-timeline" class="cd-container cssanimations" ng-controller="RunnerCtrl" ng-model="logs">
                <div class="cd-timeline-block" ng-repeat="log in logs">
                    <div class="cd-timeline-img">
                        <div class="kameleon-icon with-round-bg" ng-class="image(log)"><img
                                ng-src="{{::( source(log) | kameleonImg )}}"></div>
                    </div>

                    <div class="cd-timeline-content" ng-class="class(log)">
                        <h5>{{ :: title(log) | uppercase }}</h5>
                        <p>{{ :: log.message }}</p>
                        <span class="cd-date">{{ :: log.timestamp | date : 'yyyy-MM-dd HH:mm:ss Z'}}</span>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
