.info-label {
  margin-bottom: 0;

  label {
    font-size: 16px;
  }

  .shadow-border{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.12);
    width: 100%;
  }
}
