.modal {
  display: flex !important;
  align-items: center;
  justify-content: center;
}


.modal-content {
  border-radius: 5px;
  border: none;
  color: $color-big-stone;

  transition: none;
  background-attachment: fixed;
  background-color: white;
}

.modal-body {
  padding: 20px 20px !important;
  pre {
    background-color: rgba($color-jungle-mist, 0.5) !important;
    border: none !important;
    border-radius: 2px !important;
    color: $color-big-stone;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    background-color: transparent;
    margin: 0 !important;
    padding: 20px !important;
  }
}

.modal-header {
  color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  .modal-title {
    color: $color-big-stone;
    font-weight: 300;

  }
}

.modal-buttons {
  margin-top: -12px;
  margin-right: -22px;
  button {
    float: left;
    margin-right: 24px;
    margin-top: 12px;
  }
  &.same-width {
    button {
      width: 160px;
      text-align: center;
    }
  }
}

$modal-input-border: #e7e7e7;

.modal {
  text-align: center;
  .modal-dialog {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    .form-control {
      color: $github-color;
      background-color: transparent;
      border: 1px solid $modal-input-border;
      @include placeholderStyle($dropdown-text, 0.9);
    }
    .modal-body p, .modal-body div, .modal-body span {
      color: $dropdown-text;
    }
  }
  .modal-header {
    padding: 10px 20px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .close {
      margin-top: 0;
      transform: translate(0, 2px);
    }
  }
  .modal-footer {
    border: none;
    padding-top: 0;
  }
  .modal-icon {
    margin-right: 3px;
  }
  .sn-link-close {
    color: $dropdown-text;
    font-size: 30px;
    &:hover {
      color: $danger;
    }
  }
}

@media screen and (min-width: $resM) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.message-modal {
  .modal-header {
    text-align: center;
    i {
      font-size: 32px;
    }
  }
  .modal-title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 12px;
    margin-top: 18px;
  }
  .modal-body {
    text-align: center;
    padding: 0;
    font-size: 14px;
  }
  .modal-footer {
    margin: 24px 0 12px;
    text-align: center;
  }
}
