<md-sidenav-layout fullscreen="true">
  <md-sidenav mode="push" #sidenav opened="open" class="app-sidenav">
    <md-nav-list>
      <a md-list-item *ngFor="let recipe of recipes" (click)="sidenav.toggle();showRecipe(recipe)"> {{ recipe.name
        }} </a>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    {{recipe ? recipe.name : ''}}
    <span class="app-toolbar-filler"></span>
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
  </md-toolbar>
  <div class="app-content" [ngSwitch]="!source">

    <md-tab-group *ngSwitchCase="true">
      <md-tab label="RUN">
        <md-list-item>
          <md-card class="app-card">
            <p>{{recipe ? recipe.description : ''}}</p>
          </md-card>
        </md-list-item>
        <md-list-item *ngFor="let step of (recipe ? recipe.run : [])">
          <md-card class="app-card">
            <table>
              <tr>
                <td>
                  <md-icon
                    [ngClass]="{'succeeded': step.state == 'succeeded', 'failed': step.state == 'failed','running': step.state == 'running','idle': step.state == 'idle'}">
                    fiber_manual_record
                  </md-icon>
                </td>
                <td width="100%">
                  <p class="step-description">{{step.description}}</p>
                </td>
                <td>
                  <button md-raised-button color="primary">RUN</button>
                </td>
                <td>
                  <button md-raised-button (click)="showSource(step)" color="accent">INFO</button>
                </td>
              </tr>
            </table>
          </md-card>
        </md-list-item>
      </md-tab>
      <md-tab label="RESET">
        <md-list-item>
          <md-card class="app-card">
            <label>
              <table>
                <tr>
                  <td>{{progress}}%</td>
                  <td width="100%"><p></p></td>
                  <td>
                    <button md-raised-button color="primary">RESET ALL</button>
                  </td>
                </tr>
              </table>
              <md-progress-bar class="app-progress" color="accent" mode="determinate" [value]="progress">
              </md-progress-bar>
            </label>
          </md-card>
        </md-list-item>
        <md-list-item *ngFor="let step of (recipe ? recipe.cleanup : [])">
          <md-card>
            <table>
              <tr>
                <td>
                  <md-icon
                    [ngClass]="{'succeeded': step.state == 'succeeded', 'failed': step.state == 'failed','running': step.state == 'running','idle': step.state == 'idle'}">
                    fiber_manual_record
                  </md-icon>
                </td>
                <td width="100%">
                  <p class="step-description">{{step.description}}</p>
                </td>
              </tr>
            </table>
          </md-card>
        </md-list-item>
      </md-tab>
    </md-tab-group>

    <div *ngSwitchDefault>
      <pre class="app-source">{{source}}</pre>
    </div>

  </div>
</md-sidenav-layout>

<span class="app-action" *ngIf="source">
  <button md-fab (click)="showRecipe(recipe)"><md-icon>check circle</md-icon></button>
</span>
