tr.recipe-step {
  td {
    i.succeeded {
      color: $color-accent-green;
    }
    i.failed {
      color: $color-accent-red;
    }
    i.running {
      color: $color-accent-grey;
    }
    i.idle {
      color: $color-jungle-mist;
    }
    .recipe-step-buttons {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}