<div class="col-lg-4 col-md-12 col-sm-12"
     ba-panel
     ba-panel-title="{{ recipe.name }}"
     ba-panel-class="xmedium-panel feed-comply-panel with-scroll recipe-panel" ng-class="{'transparent': transparent}"
     ng-controller="CleanupCtrl">

    <div class="cleanup-container" ng-class="{'transparent': transparent}">
        <div class="button">
            <div class="btn-group" role="group">
                <button type="button"
                        ng-disabled="isRunning()"
                        ng-click="cleanup(recipe)"
                        class="btn btn-default btn-with-icon pull-right"><i class="ion-scissors"></i>Cleanup
                </button>
            </div>
        </div>
        <ul class="cleanup" ng-model="recipes">
            <li ng-repeat="step in recipe.cleanup">

                <i class="recipe running ion-record" ng-show="step.state === 'running'"></i>
                <i class="recipe idle ion-record" ng-show="step.state === 'idle'"></i>

                {{ :: step.description }}
            </li>
        </ul>
    </div>
</div>