<div class="col-lg-4 col-md-12 col-sm-12">
    <div class="panel panel-blur xmedium-panel feed-comply-panel with-scroll recipe-panel animated zoom-in" zoom-in ba-panel-blur>
        <div class="panel-heading clearfix">
            <h3 class="panel-title">{{ recipe.name }}</h3>
        </div>
        <div class="panel-body">

            <p>{{ recipe.description || 'No description' }}</p>

            <table class="table">
                <tr ng-repeat="step in recipe.run" class="recipe-step">
                    <td class="step-state">
                        <i class="recipe succeeded ion-record" ng-show="step.state === 'succeeded'"></i>
                        <i class="recipe failed ion-record" ng-show="step.state === 'failed'"></i>
                        <i class="recipe running ion-record" ng-show="step.state === 'running'"></i>
                        <i class="recipe idle ion-record" ng-show="step.state === 'idle'"></i>
                    </td>
                    <td class="default" width="100%">
                        <p>{{ :: step.description }}</p>
                    </td>
                    <td class="default">
                        <div class="recipe-step-buttons">
                            <div class="btn-group" role="group">
                                <button type="button"
                                        ng-disabled="isRunning() || !isRunnable(recipe, step)"
                                        ng-click="run(recipe, step)"
                                        class="btn btn-success btn-with-icon"><i class="ion-play"></i>Run
                                </button>
                            </div>
                        </div>
                    </td>
                    <td class="default">
                        <div class="recipe-step-buttons">
                            <div class="btn-group" role="group">
                                <button type="button"
                                        ng-click="open(step)"
                                        class="btn btn-default btn-with-icon"><i class="ion-information-circled"></i>Info
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>