<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
    <a href="#/runner" class="al-logo clearfix">
        <img class="top-logo" src="/assets/img/vamp/logo-long-colour.svg" alt="">
    </a>
    <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

    <div class="info-section" ng-show="error">
        <span class="red">VAMP CONNECTION ERROR</span>
    </div>

    <div class="info-section" ng-show="connected">
        <span class="green">VAMP</span>
        <span class="yellow">LOAD</span> {{ load.cpu | number : 2 }}%
        <span class="yellow">HEAP</span> {{ load.heap.percentage | number : 2 }}% <span class="gray"> [ {{ load.heap.used | number : 0 }}/{{ load.heap.max | number : 0 }}MB ]</span>
    </div>

</div>