.app-content {
}

.app-sidenav {
  min-width: 320px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-action {
  display: inline-block;
  color: black;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-source {
  margin: 10px;
  height: auto;
  overflow: auto;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-card {
  padding: 15px;
}

.app-list {
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin-top: 20px;
  margin-right: 20px;
}

.succeeded {
  color: #0e8174;
}

.failed {
  color: #ff6384;
}

.running {
  color: #ffce56;
}

.idle {
  color: #36a2eb;
}

.step-description {
  height: 22px;
  padding-left: 5px;
}
